<a href="https://colab.research.google.com/github/kaplanmert/piworks_assesment/blob/main/assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kütüphanelerin ve verilerin yüklenmesi**

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/sample_data/country_vaccination_stats.csv')

In [15]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

**NaN verilerin sayısını öğrenme**

In [16]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

**Günlük aşı sayılarındaki NaN verilerin yerine, alakalı ülkelerdeki minimum verileri koymak için, ülke ülke minimum aşı sayılarının olduğu bir veri seti yapildi.**

In [17]:
min_country = df.groupby('country').agg({'daily_vaccinations':'min'})

In [18]:
min_country

                      daily_vaccinations
country
Argentina                         6483.0
Austria                           3368.0
Bahrain                            943.0
Belgium                              1.0
Brazil                             112.0
Bulgaria                           472.0
Canada                             866.0
Chile                               51.0
China                           187500.0
Costa Rica                         240.0
Croatia                            989.0
Cyprus                             534.0
Czechia                           1822.0
Denmark                           1994.0
Ecuador                            108.0
England                          37625.0
Estonia                            309.0
Finland                            459.0
France                            5000.0
Germany                          19721.0
Gibraltar                          520.0
Greece                             549.0
Hungary                           1339.0
Iceland                             63.0
India                           112150.0
Indonesia                        11823.0
Ireland                            550.0
Isle of Man                         90.0
Israel                            6887.0
Italy                              926.0
Kuwait                               NaN
Latvia                             338.0
Lithuania                          311.0
Luxembourg                          62.0
Malta                              259.0
Mexico                            1300.0
Netherlands                       4000.0
Northern Ireland                  1563.0
Norway                             224.0
Oman                               817.0
Panama                               6.0
Poland                            4300.0
Portugal                          2791.0
Romania                            712.0
Russia                            3357.0
Saudi Arabia                     14153.0
Scotland                          3047.0
Serbia                            1150.0
Seychelles                         500.0
Singapore                         2800.0
Slovakia                           425.0
Slovenia                          1270.0
Spain                            41496.0
Sweden                            3859.0
Switzerland                       3000.0
Turkey                           67192.0
United Arab Emirates             30698.0
United Kingdom                   46423.0
United States                    57909.0
Wales                             1763.0

**Ana veri setimizi, günlük aşı verilerine göre sıraladığımızda sonda kalacak 60 veri sadece NaN verilerini içerecektir. Yukarıdaki minimum değerlerle değiştirmek amacıyla NaN verilerinin olduğu bir veri seti yapildi.**

In [19]:
a = df.sort_values(by='daily_vaccinations').tail(60)
pd.DataFrame(a)

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
28,Austria,1/5/2021,NaN,Pfizer/BioNTech
48,Bahrain,12/23/2020,NaN,"Pfizer/BioNTech, Sinopharm"
77,Belgium,12/28/2020,NaN,Pfizer/BioNTech
103,Brazil,1/16/2021,NaN,Sinovac
113,Bulgaria,12/29/2020,NaN,"Moderna, Pfizer/BioNTech"
141,Canada,12/14/2020,NaN,"Moderna, Pfizer/BioNTech"
184,Chile,12/24/2020,NaN,Pfizer/BioNTech
217,China,12/15/2020,NaN,"CNBG, Sinovac"
254,Costa Rica,12/24/2020,NaN,Pfizer/BioNTech
280,Croatia,12/30/2020,NaN,Pfizer/BioNTech
307,Cyprus,1/6/2021,NaN,Pfizer/BioNTech
324,Czechia,12/27/2020,NaN,"Moderna, Pfizer/BioNTech"
354,Denmark,12/27/2020,NaN,"Moderna, Pfizer/BioNTech"
384,Ecuador,1/21/2021,NaN,Pfizer/BioNTech
386,England,12/20/2020,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"
422,Estonia,12/28/2020,NaN,Pfizer/BioNTech
451,Finland,12/31/2020,NaN,Pfizer/BioNTech
477,France,1/4/2021,NaN,Pfizer/BioNTech
499,Germany,12/27/2020,NaN,"Moderna, Pfizer/BioNTech"
528,Gibraltar,1/10/2021,NaN,Pfizer/BioNTech
543,Greece,12/28/2020,NaN,Pfizer/BioNTech
572,Hungary,12/28/2020,NaN,Pfizer/BioNTech
600,Iceland,12/30/2020,NaN,"Moderna, Pfizer/BioNTech"
627,India,1/15/2021,NaN,"Covaxin, Covishield"
638,Indonesia,1/12/2021,NaN,Sinovac
652,Ireland,12/31/2020,NaN,Pfizer/BioNTech
677,Isle of Man,1/21/2021,NaN,Pfizer/BioNTech
682,Israel,12/19/2020,NaN,"Moderna, Pfizer/BioNTech"
720,Italy,12/27/2020,NaN,Pfizer/BioNTech
750,Kuwait,12/28/2020,NaN,Pfizer/BioNTech
751,Latvia,12/28/2020,NaN,Pfizer/BioNTech
780,Lithuania,12/25/2020,NaN,"Moderna, Pfizer/BioNTech"
812,Luxembourg,12/30/2020,NaN,Pfizer/BioNTech
838,Malta,12/28/2020,NaN,Pfizer/BioNTech
866,Mexico,12/24/2020,NaN,Pfizer/BioNTech
899,Netherlands,1/6/2021,NaN,"Moderna, Pfizer/BioNTech"
916,Northern Ireland,12/13/2020,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"
959,Norway,12/27/2020,NaN,Pfizer/BioNTech
988,Oman,12/28/2020,NaN,Pfizer/BioNTech
1016,Panama,1/19/2021,NaN,Pfizer/BioNTech
1022,Poland,12/28/2020,NaN,Pfizer/BioNTech
1050,Portugal,12/27/2020,NaN,Pfizer/BioNTech
1079,Romania,12/28/2020,NaN,Pfizer/BioNTech
1108,Russia,12/15/2020,NaN,Sputnik V
1138,Saudi Arabia,1/6/2021,NaN,Pfizer/BioNTech
1150,Scotland,12/13/2020,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"
1193,Serbia,1/8/2021,NaN,"Pfizer/BioNTech, Sinopharm, Sputnik V"
1211,Seychelles,1/9/2021,NaN,Sinopharm
1226,Singapore,1/11/2021,NaN,Pfizer/BioNTech
1238,Slovakia,1/4/2021,NaN,Pfizer/BioNTech
1256,Slovenia,1/3/2021,NaN,Pfizer/BioNTech
1278,Spain,1/4/2021,NaN,"Moderna, Pfizer/BioNTech"
1300,Sweden,12/27/2020,NaN,Pfizer/BioNTech
1322,Switzerland,12/23/2020,NaN,Pfizer/BioNTech
1352,Turkey,1/13/2021,NaN,Sinovac
1365,United Arab Emirates,1/5/2021,NaN,"Pfizer/BioNTech, Sinopharm"
1386,United Kingdom,12/20/2020,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"
1422,United States,12/20/2020,NaN,"Moderna, Pfizer/BioNTech"
1459,Wales,12/13/2020,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech"

**Önce veri setinin indexleri sıfırlandı.**

**Her ülkeden birer kayıp değerimiz olduğu için bunları index index eşitleyerek Kayıp değerlerden kurtulundu.**

In [20]:
a = a.reset_index()
for i in range(60):
       a['daily_vaccinations'][i] = min_country['daily_vaccinations'][i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
a

,index,country,date,daily_vaccinations,vaccines
0,0,Argentina,12/29/2020,6483.0,Sputnik V
1,28,Austria,1/5/2021,3368.0,Pfizer/BioNTech
2,48,Bahrain,12/23/2020,943.0,"Pfizer/BioNTech, Sinopharm"
3,77,Belgium,12/28/2020,1.0,Pfizer/BioNTech
4,103,Brazil,1/16/2021,112.0,Sinovac
5,113,Bulgaria,12/29/2020,472.0,"Moderna, Pfizer/BioNTech"
6,141,Canada,12/14/2020,866.0,"Moderna, Pfizer/BioNTech"
7,184,Chile,12/24/2020,51.0,Pfizer/BioNTech
8,217,China,12/15/2020,187500.0,"CNBG, Sinovac"
9,254,Costa Rica,12/24/2020,240.0,Pfizer/BioNTech
10,280,Croatia,12/30/2020,989.0,Pfizer/BioNTech
11,307,Cyprus,1/6/2021,534.0,Pfizer/BioNTech
12,324,Czechia,12/27/2020,1822.0,"Moderna, Pfizer/BioNTech"
13,354,Denmark,12/27/2020,1994.0,"Moderna, Pfizer/BioNTech"
14,384,Ecuador,1/21/2021,108.0,Pfizer/BioNTech
15,386,England,12/20/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
16,422,Estonia,12/28/2020,309.0,Pfizer/BioNTech
17,451,Finland,12/31/2020,459.0,Pfizer/BioNTech
18,477,France,1/4/2021,5000.0,Pfizer/BioNTech
19,499,Germany,12/27/2020,19721.0,"Moderna, Pfizer/BioNTech"
20,528,Gibraltar,1/10/2021,520.0,Pfizer/BioNTech
21,543,Greece,12/28/2020,549.0,Pfizer/BioNTech
22,572,Hungary,12/28/2020,1339.0,Pfizer/BioNTech
23,600,Iceland,12/30/2020,63.0,"Moderna, Pfizer/BioNTech"
24,627,India,1/15/2021,112150.0,"Covaxin, Covishield"
25,638,Indonesia,1/12/2021,11823.0,Sinovac
26,652,Ireland,12/31/2020,550.0,Pfizer/BioNTech
27,677,Isle of Man,1/21/2021,90.0,Pfizer/BioNTech
28,682,Israel,12/19/2020,6887.0,"Moderna, Pfizer/BioNTech"
29,720,Italy,12/27/2020,926.0,Pfizer/BioNTech
30,750,Kuwait,12/28/2020,NaN,Pfizer/BioNTech
31,751,Latvia,12/28/2020,338.0,Pfizer/BioNTech
32,780,Lithuania,12/25/2020,311.0,"Moderna, Pfizer/BioNTech"
33,812,Luxembourg,12/30/2020,62.0,Pfizer/BioNTech
34,838,Malta,12/28/2020,259.0,Pfizer/BioNTech
35,866,Mexico,12/24/2020,1300.0,Pfizer/BioNTech
36,899,Netherlands,1/6/2021,4000.0,"Moderna, Pfizer/BioNTech"
37,916,Northern Ireland,12/13/2020,1563.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
38,959,Norway,12/27/2020,224.0,Pfizer/BioNTech
39,988,Oman,12/28/2020,817.0,Pfizer/BioNTech
40,1016,Panama,1/19/2021,6.0,Pfizer/BioNTech
41,1022,Poland,12/28/2020,4300.0,Pfizer/BioNTech
42,1050,Portugal,12/27/2020,2791.0,Pfizer/BioNTech
43,1079,Romania,12/28/2020,712.0,Pfizer/BioNTech
44,1108,Russia,12/15/2020,3357.0,Sputnik V
45,1138,Saudi Arabia,1/6/2021,14153.0,Pfizer/BioNTech
46,1150,Scotland,12/13/2020,3047.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
47,1193,Serbia,1/8/2021,1150.0,"Pfizer/BioNTech, Sinopharm, Sputnik V"
48,1211,Seychelles,1/9/2021,500.0,Sinopharm
49,1226,Singapore,1/11/2021,2800.0,Pfizer/BioNTech
50,1238,Slovakia,1/4/2021,425.0,Pfizer/BioNTech
51,1256,Slovenia,1/3/2021,1270.0,Pfizer/BioNTech
52,1278,Spain,1/4/2021,41496.0,"Moderna, Pfizer/BioNTech"
53,1300,Sweden,12/27/2020,3859.0,Pfizer/BioNTech
54,1322,Switzerland,12/23/2020,3000.0,Pfizer/BioNTech
55,1352,Turkey,1/13/2021,67192.0,Sinovac
56,1365,United Arab Emirates,1/5/2021,30698.0,"Pfizer/BioNTech, Sinopharm"
57,1386,United Kingdom,12/20/2020,46423.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
58,1422,United States,12/20/2020,57909.0,"Moderna, Pfizer/BioNTech"
59,1459,Wales,12/13/2020,1763.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

**Kuveyt değeri olan NaN, 0 olarak düzeltildi.**

In [22]:
a = a.fillna(0)

**Ana verisetimizdeki NaN verileri önce veri setinden çıkardık daha sonrasında,a verisetimizle birleştirdik ve indexleri resetledik.**

In [23]:
df = df.dropna()
df = pd.concat([df,a])
df = df.reset_index()

**Temizlenmiş Verimiz. 4. SORUNUN SONU.**

In [24]:
df

,level_0,country,date,daily_vaccinations,vaccines,index
0,1,Argentina,12/30/2020,15656.0,Sputnik V,NaN
1,2,Argentina,12/31/2020,15656.0,Sputnik V,NaN
2,3,Argentina,1/1/2021,11070.0,Sputnik V,NaN
3,4,Argentina,1/2/2021,8776.0,Sputnik V,NaN
4,5,Argentina,1/3/2021,7400.0,Sputnik V,NaN
...,...,...,...,...,...,...
1497,55,Turkey,1/13/2021,67192.0,Sinovac,1352.0
1498,56,United Arab Emirates,1/5/2021,30698.0,"Pfizer/BioNTech, Sinopharm",1365.0
1499,57,United Kingdom,12/20/2020,46423.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1386.0
1500,58,United States,12/20/2020,57909.0,"Moderna, Pfizer/BioNTech",1422.0
1501,59,Wales,12/13/2020,1763.0,"Oxford/AstraZeneca, Pfizer/BioNTech",1459.0

In [25]:
df.isna().sum()

level_0                  0
country                  0
date                     0
daily_vaccinations       0
vaccines                 0
index                 1442
dtype: int64

**5. Soru : Ülkelerin günlük aşı sayılarına göre gruplanması. Görüldüğü üzere verilere göre en çok günlük aşıyı United States, China ve United Kingdom yapmıştır.**

In [26]:
daily_vac_by_country = df.groupby('country').agg({'daily_vaccinations':'sum'})
daily_vac_by_country.sort_values(by = 'daily_vaccinations', ascending = False)

                      daily_vaccinations
country
United States                 19048847.0
China                         12107143.0
United Kingdom                 5415262.0
England                        4731703.0
Israel                         3458598.0
Turkey                         1958907.0
India                          1891126.0
United Arab Emirates           1646561.0
Germany                        1616318.0
Italy                          1333599.0
Spain                          1233187.0
Russia                          930383.0
France                          924019.0
Canada                          766012.0
Poland                          659612.0
Mexico                          583264.0
Romania                         384371.0
Scotland                        361828.0
Brazil                          343147.0
Argentina                       315544.0
Saudi Arabia                    225858.0
Wales                           217232.0
Portugal                        216525.0
Denmark                         208140.0
Czechia                         188216.0
Indonesia                       180084.0
Northern Ireland                173651.0
Austria                         163432.0
Hungary                         148514.0
Greece                          140177.0
Belgium                         139498.0
Serbia                          130743.0
Sweden                          129248.0
Ireland                         126188.0
Switzerland                     122239.0
Netherlands                     119472.0
Bahrain                         115449.0
Finland                          85919.0
Slovakia                         82868.0
Norway                           71816.0
Lithuania                        71431.0
Chile                            70129.0
Croatia                          59751.0
Singapore                        55290.0
Slovenia                         51202.0
Oman                             33366.0
Bulgaria                         28731.0
Costa Rica                       25209.0
Estonia                          24757.0
Latvia                           20625.0
Malta                            17450.0
Seychelles                       15251.0
Cyprus                           12581.0
Gibraltar                        11300.0
Panama                            5752.0
Luxembourg                        5516.0
Iceland                           5430.0
Isle of Man                        636.0
Ecuador                            216.0
Kuwait                               0.0

In [28]:
df['country'].value_counts()

Wales                   43
Canada                  43
Northern Ireland        43
Scotland                43
Israel                  38
United States           37
China                   37
United Kingdom          36
England                 36
Chile                   33
Mexico                  33
Lithuania               32
Italy                   30
Switzerland             30
Denmark                 30
Czechia                 30
Russia                  30
Greece                  29
Norway                  29
Latvia                  29
Germany                 29
Portugal                29
Estonia                 29
Bahrain                 29
Romania                 29
Oman                    28
Poland                  28
Malta                   28
Argentina               28
Bulgaria                28
Hungary                 28
Iceland                 27
Croatia                 27
Luxembourg              26
Costa Rica              26
Finland                 26
Belgium                 26
Ireland                 25
Sweden                  22
Spain                   22
Slovenia                22
France                  22
United Arab Emirates    21
Austria                 20
Serbia                  18
Slovakia                18
Cyprus                  17
Netherlands             17
Seychelles              15
Gibraltar               15
Indonesia               14
Turkey                  13
Singapore               12
Saudi Arabia            12
India                   11
Brazil                  10
Panama                   6
Isle of Man              5
Ecuador                  2
Kuwait                   1
Name: country, dtype: int64

**5.SORU EK: Yukardaki toplanmış veriler, girilen veri adetine bölündü. Örneğin USA için girilen veri sayısı 37 ve yukardaki toplam 37'ye bölünerek aşağıdaki tablo bulundu.**

**Bu tabloya göre ortalama olarak USA, China ve India ilk üçte yer alıyor.**

In [27]:
daily_vac_by_country = df.groupby('country').agg({'daily_vaccinations':'mean'})
daily_vac_by_country.sort_values(by = 'daily_vaccinations', ascending = False)

                      daily_vaccinations
country
United States              514833.702703
China                      327220.081081
India                      171920.545455
Turkey                     150685.153846
United Kingdom             150423.944444
England                    131436.194444
Israel                      91015.736842
United Arab Emirates        78407.666667
Spain                       56053.954545
Germany                     55735.103448
Italy                       44453.300000
France                      42000.863636
Brazil                      34314.700000
Russia                      31012.766667
Poland                      23557.571429
Saudi Arabia                18821.500000
Canada                      17814.232558
Mexico                      17674.666667
Romania                     13254.172414
Indonesia                   12863.142857
Argentina                   11269.428571
Scotland                     8414.604651
Austria                      8171.600000
Portugal                     7466.379310
Serbia                       7263.500000
Netherlands                  7027.764706
Denmark                      6938.000000
Czechia                      6273.866667
Sweden                       5874.909091
Belgium                      5365.307692
Hungary                      5304.071429
Wales                        5051.906977
Ireland                      5047.520000
Greece                       4833.689655
Singapore                    4607.500000
Slovakia                     4603.777778
Switzerland                  4074.633333
Northern Ireland             4038.395349
Bahrain                      3981.000000
Finland                      3304.576923
Norway                       2476.413793
Slovenia                     2327.363636
Lithuania                    2232.218750
Croatia                      2213.000000
Chile                        2125.121212
Oman                         1191.642857
Bulgaria                     1026.107143
Seychelles                   1016.733333
Costa Rica                    969.576923
Panama                        958.666667
Estonia                       853.689655
Gibraltar                     753.333333
Cyprus                        740.058824
Latvia                        711.206897
Malta                         623.214286
Luxembourg                    212.153846
Iceland                       201.111111
Isle of Man                   127.200000
Ecuador                       108.000000
Kuwait                          0.000000

**Soru 6: 1/6/2021 Tarihinde yapılan aşıların sayısının 1466568 olduğu görülmektedir**

In [29]:
a = 0
for i in range(1502):
  if (df['date'][i]=='1/6/2021'):
    a = a + int(df['daily_vaccinations'][i])
print(a)

1485255