<a href="https://colab.research.google.com/github/kaplanmert/piworks_assesment/blob/main/piworks_assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kütüphanelerin ve verilerin yüklenmesi**

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/sample_data/country_vaccination_stats.csv')

In [72]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

**NaN verilerin sayısı**

In [73]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

**4. Soru : NaN verilen 0'la değiştirilmesi**

In [74]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)

In [75]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

In [76]:
df.sort_values(by='daily_vaccinations', ascending = False)

            country        date  daily_vaccinations                  vaccines
1458  United States   1/25/2021           1126251.0  Moderna, Pfizer/BioNTech
1457  United States   1/24/2021           1122182.0  Moderna, Pfizer/BioNTech
1456  United States   1/23/2021           1057387.0  Moderna, Pfizer/BioNTech
1455  United States   1/22/2021            975540.0  Moderna, Pfizer/BioNTech
1454  United States   1/21/2021            913912.0  Moderna, Pfizer/BioNTech
...             ...         ...                 ...                       ...
866          Mexico  12/24/2020                 0.0           Pfizer/BioNTech
838           Malta  12/28/2020                 0.0           Pfizer/BioNTech
812      Luxembourg  12/30/2020                 0.0           Pfizer/BioNTech
780       Lithuania  12/25/2020                 0.0  Moderna, Pfizer/BioNTech
751          Latvia  12/28/2020                 0.0           Pfizer/BioNTech

[1502 rows x 4 columns]

 **5. Soru : 
Ülkelerin günlük aşı sayılarına göre gruplanması.
Görüldüğü üzere verilere göre en çok günlük aşıyı United States, China ve United Kingdom yapmıştır.**

In [77]:
daily_vac_by_country = df.groupby('country').agg({'daily_vaccinations':'sum'})
daily_vac_by_country.sort_values(by = 'daily_vaccinations', ascending = False)

                      daily_vaccinations
country
United States                 18990938.0
China                         11919643.0
United Kingdom                 5368839.0
England                        4694078.0
Israel                         3451711.0
Turkey                         1891715.0
India                          1778976.0
United Arab Emirates           1615863.0
Germany                        1596597.0
Italy                          1332673.0
Spain                          1191691.0
Russia                          927026.0
France                          919019.0
Canada                          765146.0
Poland                          655312.0
Mexico                          581964.0
Romania                         383659.0
Scotland                        358781.0
Brazil                          343035.0
Argentina                       309061.0
Wales                           215469.0
Portugal                        213734.0
Saudi Arabia                    211705.0
Denmark                         206146.0
Czechia                         186394.0
Northern Ireland                172088.0
Indonesia                       168261.0
Austria                         160064.0
Hungary                         147175.0
Greece                          139628.0
Belgium                         139497.0
Serbia                          129593.0
Ireland                         125638.0
Sweden                          125389.0
Switzerland                     119239.0
Netherlands                     115472.0
Bahrain                         114506.0
Finland                          85460.0
Slovakia                         82443.0
Norway                           71592.0
Lithuania                        71120.0
Chile                            70078.0
Croatia                          58762.0
Singapore                        52490.0
Slovenia                         49932.0
Oman                             32549.0
Bulgaria                         28259.0
Costa Rica                       24969.0
Estonia                          24448.0
Latvia                           20287.0
Malta                            17191.0
Seychelles                       14751.0
Cyprus                           12047.0
Gibraltar                        10780.0
Panama                            5746.0
Luxembourg                        5454.0
Iceland                           5367.0
Isle of Man                        546.0
Ecuador                            108.0
Kuwait                               0.0

In [78]:
len(df['date'])

1502

**Soru 6: 1/6/2021 Tarihinde yapılan aşıların sayısının 1466568 olduğu görülmektedir**

In [79]:
a = 0
for i in range(1502):
  if (df['date'][i]=='1/6/2021'):
    a = a + int(df['daily_vaccinations'][i])
print(a)

1466568