<a href="https://colab.research.google.com/github/kaplanmert/piworks_assesment/blob/main/piworks_assesment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kütüphanelerin ve verilerin yüklenmesi**

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/sample_data/country_vaccination_stats.csv')

In [56]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

**NaN verilerin sayısı**

In [57]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

**4. Soru : NaN verilen 0'la değiştirilmesi**

In [68]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)

In [52]:
df.sort_values(by='daily_vaccinations', ascending = False)

            country        date  daily_vaccinations                  vaccines
1458  United States   1/25/2021           1126251.0  Moderna, Pfizer/BioNTech
1457  United States   1/24/2021           1122182.0  Moderna, Pfizer/BioNTech
1456  United States   1/23/2021           1057387.0  Moderna, Pfizer/BioNTech
1455  United States   1/22/2021            975540.0  Moderna, Pfizer/BioNTech
1454  United States   1/21/2021            913912.0  Moderna, Pfizer/BioNTech
...             ...         ...                 ...                       ...
866          Mexico  12/24/2020                 0.0           Pfizer/BioNTech
838           Malta  12/28/2020                 0.0           Pfizer/BioNTech
812      Luxembourg  12/30/2020                 0.0           Pfizer/BioNTech
780       Lithuania  12/25/2020                 0.0  Moderna, Pfizer/BioNTech
751          Latvia  12/28/2020                 0.0           Pfizer/BioNTech

[1502 rows x 4 columns]

 **5. Soru : 
Ülkelerin günlük aşı sayılarına göre gruplanması.
Görüldüğü üzere verilere göre en çok günlük aşıyı United States, China ve United Kingdom yapmıştır.**

In [ ]:
daily_vac_by_country = df.groupby('country').agg({'daily_vaccinations':'sum'})
daily_vac_by_country.sort_values(by = 'daily_vaccinations', ascending = False)

In [60]:
len(df['date'])

1502

In [65]:
df['date'][2]

'12/31/2020'

In [69]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

**Soru 6: 1/6/2021 Tarihinde yapılan aşıların sayısının 1466568 olduğu görülmektedir**

In [70]:
a = 0
for i in range(1502):
  if (df['date'][i]=='1/6/2021'):
    a = a + int(df['daily_vaccinations'][i])
print(a)

1466568